
			
		<div class="sixteen columns" style="margin-top:30px">
			<div class="seven columns alpha">
				<%= image_tag("dogi.jpg") %>
			</div>
			<div class="nine columns omega">
				<h2 style="margin-top: 30px"><span class="orange">W</span>aggle<span class="orange">A</span>pp helps you care for your dog...</h2>
				<h2 style="margin-top: 20px">

				Get updates on Fido's every move - bowel or otherwise.</h2>
			</div>
		</div>
		<div class="sixteen columns trans" style="margin-bottom:20px"></div>
		<div class="one-third column">
			<h3>Testimonial</h3>
			
		</div>
		<div class="one-third column">
			<h3>Some Article</h3>
		
		</div>
		<div class="one-third column">
			<h3>Twitter Feed</h3>
			
		</div>
