<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Woof woof, <%= @user.name %></h1>
    <p>
      You have an update at waggleapp.com: <br/>
      <%= @update %>
    </p>
    <p>
      To login to the site, just follow this link: <%= user_url( 'sign_in', :only_path => false) %>.
    </p>
    <p>Thanks!</p>
  </body>
</html>